#page-auth{
    display: flex;
    align-items: stretch;
    height: 100vh;
}

aside{
    flex: 7;

    background-color: var(--purple);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;
}
aside img{
    max-width: 320px;
}
aside strong {
    font: 700 36px 'Poppins', sans-serif;
    line-height: 42px;
    margin-top: 16px;
}
aside p {
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
    color: var(--details2);
}

#room-main{
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;
}
.pathLogo{
    fill: var(--logo);
}
#form-auth button, input {
    width: 100%;
}

#form-auth input {
    height: 50px;
    border-radius: 8px;
    padding: 0 16px;
    color: var(--pink-dark);
    font-weight: 500;
    background-color: var(--input-bg);
    border: 1px solid var(--medium-grey);
}

#form-auth button{
    margin-top: 16px;
}

#form-auth p{
    font-size: 14px;
    color: var(--dark-grey);
    margin-top: 16px;
}
#form-auth a {
    color: var(--pink-dark);
}

/* h2{
    font-size: 24px;
    margin: 64px 0 24px;
    font-family: 'Poppins', sans-serif;
} */
.titleBox h2{
    font-size: 24px;
    margin: 64px 0 24px;
    color: var(--logo);
    font-family: 'Poppins', sans-serif;
}
.titleBox img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.titleBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-room{
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background-color: #ea4335;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;
}
.create-room img {
    margin-right: 8px;
}
.create-room:hover{
   filter: brightness(0.9);
}

.separator{
    font-size: 14px;
    color: var(--medium-grey);

    margin: 32px 0;
    display: flex;
    align-items: center;
}
.separator::before{
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--medium-grey);
    margin-right: 16px;
}
.separator::after{
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--medium-grey);
    margin-left: 16px;
}