.button{
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background-color: #835afd;
    color: #FFF;
    padding: 0 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;
}
.button img {
    margin-right: 8px;
}
.button:not(:disabled):hover{
   filter: brightness(0.9);
}
.button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}