:root{
    /* Global */
    --shadow       : rgba(0, 0, 0, 0.04);
    --black        : #29292E;
    --white        : #FFF;
    --medium-grey  : #A8A8B3;
    --danger       : #E73F5D;

    /* Light theme */
    --background   : #F4F0FF;
    --input-bg     : #FFF;
 
    --details      : #FEFEFE;
    --details2     : #f8f8f8;

    --light-grey   : #DBDCDD;
    --dark-grey    : #737380;
    --border       : #e2e2e2;
    --highlighted  : #E3D8FF;
    --like         : #835AFD;
    --logo         : #222222;
 
    --purple       : #835AFD;
    --pink-dark    : #E559F9;

    /* Dark theme */
    /* --background  : #202124;
    --input-bg     : #434649;
 
    --details      : #272626;
    --details2     : #f8f8f8;

    --light-grey   : #1B1B1B;
    --dark-grey    : #cccccf;
    --border       : #424347;
    --like         : #f8f8f8;
    --highlighted  : #2F2450;
    --logo         : #f8f8f8;
 
    --purple       : #4c319e;
    --pink-dark    : #a075d4; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    color: var(--details2);
    transition: 0.3s;
}

body, input, button, textarea{
    font: 400 16px 'Roboto' , sans-serif;
}