.question{
    background-color: var(--details);
    border-radius: 8px;
    box-shadow: 0 2px 12px var(--shadow);
    padding: 24px;
}
.question + .question{
    margin-top: 8px;
}

.highlighted{
    background: var(--highlighted);
    border: 2px solid var(--purple);
}
.highlighted footer .user-info span{
    color: var(--black);
}
.answered{
    background: var(--light-grey);
}

.question p {
    color: var(--black);
}
.question footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.question .user-info{
    display: flex;
    align-items: center;
}
footer div {
    display: flex;
    gap: 16px;
}
.question .user-info img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.question .user-info span{
    margin-left: 8px;
    color: var(--dark-grey);
    font-size: 14px;
}
footer button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.like-button{
    display: flex;
    align-items: flex-end;
    color: var(--like);
    gap: 8px;
    transition: filter 0.2;
}
.liked{
    color: var(--like);
}
.liked svg path {
    stroke: var(--like);
}

.like-button:hover{
    filter: brightness(0.7);
}