header{
    padding: 24px;
    border-bottom: 1px solid var(--border);
}
.content {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content div{
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--details2);
}
.content button{height: 40px; background-color: var(--details);}
.content img{ max-height: 45px;}

main {
    max-width: 800px;
    margin: 0 auto;
}
.room-title{
    margin: 32px 0 24px;
    display: flex;
    align-items: center;
}
.room-title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--logo);
    text-align: left;
}
.room-title span{
    margin-left: 16px;
    background: var(--pink-dark);
    border-radius: 9999px;
    padding: 8px 16px;
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
}

form textarea{
    width: 100%;
    border: 0;
    padding: 16px;
    border-radius: 8px;
    background: var(--details);
    color: var(--logo);
    box-shadow: 0 2px 12px var(--shadow);
    resize: vertical;
    min-height: 170px;
    margin-top: 20px;
}
.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

}
.user-info{
    display: flex;
    align-items: center;
}
.user-info img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.user-info span{
    margin-left: 8px;
    font-weight: 500;
    color: var(--logo) !important;
    font-size: 14px;
}
.form-footer span {
    margin-left: 8px;
    color: var(--black);
    font-weight: 500;
    font-size: 14px;
}
.form-footer span button{
    background: transparent;
    border: 0;
    color: var(--purple);
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.question-list{margin-top: 32px;}
.question-list path:hover{
    stroke: var(--purple)
}


.emptyQuestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.emptyQuestions div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emptyQuestions h2,p{margin: 0}
.question-list p{color: var(--dark-grey); margin-bottom: 40px;}

#modalDelete{
    width: 60vw;
    margin: 0 auto;
    border-radius: 15px;
    background-color: var(--background) !important;
    border: 1px solid var(--background) !important;
}
.ReactModal__Overlay--after-open{
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.modalDeleteItems{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap: 20px;
    width: 100%;
    height: 100%;
}
.modalDeleteItems div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
}
.modalDeleteItems img {
    width: 48px;
    height: 48px;
}
.modalDeleteItems h1 {
    color: var(--logo);
}
.modalDeleteItems p {
    color: var(--dark-grey);
}
#buttonClose, #buttonDelete{
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}
#buttonClose:hover, #buttonDelete:hover{
    filter: opacity(0.9);
}
#buttonClose{
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    color: var(--dark-grey);
}
#buttonDelete{
    background-color: var(--danger);
    border: 1px solid var(--danger);
    color: var(--white);
}